@charset "uft-8";

/* header logo */
header {
    text-align: center;
    text-transform: uppercase;
    background: var(--primary-color);
    color: var(--primary-bg);
    /* border: 1px solid blue; */
}
header .logo {
    height: 70px;
    /* border: 1px solid #000; */
    line-height: 70px;
}
header .gnb {
    /* border: 1px solid #000; */
}
header .gnb li{
    /* vertical-align: top; */
    display: inline-block;
    /* border: 1px solid red; */
    /* height: 50px; */
    width: 100px;
    /* border: 1px solid #000; */
}
header .gnb li a {
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    line-height: 50px;
    color: var(--primary-bg);
    background: var(--primary-color);
}
header .gnb li:hover a {
    color: var(--primary-color);
    background: var(--primary-bg);
}
main .inner {
    background: var(--primary-bg);
}
.banner {
    /* border: 1px solid blue; */
    padding: 1rem;
    font-size: 0;
    width: 300px;
    height: 100px;
    /* border: 1px solid #000; */
    overflow: hidden;
    margin: 0 auto;
}
/* .banner .bannerContainer {
    width: 300px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
} */
.banner .scroll {
    width: 900px;
    height: 100px;
    animation: rolling 7s infinite alternate;
}
.banner .scroll img {
    width: 300px;
}
@keyframes rolling {
    /* 0% {
        margin-left: 0;
    } */
    50% {
        margin-left: -300px;
    }
    100% {
        margin-left: -600px;}
}
/* main .desc */
/* .main .inner {
    background: var(--primary-color);
} */
.desc {
    margin-top: 20px;
    /* border: 1px solid red; */
    /* background: var(--primary-color); */
    color: var(--primary-color);
}
.desc .item {
    border: 1px solid #000;
    height: 200px;
    width: 80%;
    margin: 0 auto;
    
}
.desc .item:nth-child(2) {
    text-align: right;
    margin: 10px auto;
}
.desc .photo {
    display: inline-block;
    width: 30%;
    height: 100%;
    overflow: hidden;
    margin-right: 10px;
}
.desc .photo:nth-child(2) {
    margin-left: 20px;
    margin-right: 0px;
}
.desc .photo:hover img{
    opacity: 50%;
    transform: scale(1.2);
}
.desc .photo img {
    /* border: 1px solid #000; */
    height: 100%;
    transition: 1s;
}
.desc .subDesc {
    display: inline-block;
    /* border: 1px solid coral; */
    width: 60%;
    padding: 1rem 0;
    vertical-align: top;
}
.desc .subDesc h3 {
    /* margin-bottom: 10px; */
    margin-top: 20px;
}
.desc .subDesc p {
    /* margin-bottom: 10px; */
    margin-top: 20px;
}
.desc .subDesc a {
    border: 1px solid var(--primary-color);
    margin-top: 20px;
    border-radius: 10px;
    background: var(--primary-bg);
    color: var(--primary-color);
    width: 80px;
    height: 30px;
    text-align: center;
    vertical-align: top;
    padding-top: 2px;
}
.desc .subDesc a:hover {
    background: var(--primary-color);
    color: var(--primary-bg);
}

/* footer nav */
footer {
    text-align: center;
    width: 100%;
    background: var(--primary-color);
    color: var(--primary-bg);
    height: 200px;
    margin-top: 5px;
}
footer ul {
    display: inline-block;
    /* border: 1px solid #000; */
    margin-top: 10px;
    text-align: center;
    margin: 5px 90px;
    text-transform: uppercase;
}
footer .inner {
    /* border: 1px solid red; */
    padding-top: 20px;
}
footer ul li {

}
footer ul li a {
    margin: 2px 0;
}
footer ul li a:hover {
    opacity: 0.5;
}
footer .copy {
    margin-top: 10px;
}