<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title></title>
<style>
    * {
        margin: 0;
    }
    header {
        background: gold;
        height: 100px;
    }
    aside {
        background: darkcyan;
        height: 500px;
        width: 50%;
        float: left;
    }
    main {
        float: right;
        background: darkolivegreen;
        width: 50%;
        height: 500px;
    }
    footer {
        clear: both;
        height: 100px;
        background: darkgoldenrod;
    }
</style>
</head>
<body>

    <header>
        <h1>header</h1>
    </header>
    <aside>
        <h1>side</h1>
    </aside>
    <main>
        <h1>main</h1>
    </main>
    <footer>
        <h1>footer</h1>
    </footer>

</body>
</html>