@charset "utf-8";

body {
    background: #000;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background: rgba(104, 102, 102, 0.014);
    box-shadow: 5px 5px 5px rgba(128, 124, 124, 0.377),
                5px 5px 5px rgba(128, 124, 124, 0.377),
                5px 5px 5px rgba(128, 124, 124, 0.377);
    border-radius: 20px;
    color: #fff;
}
@font-face {
    font-family: '국립박물관문화재단클래식L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container h1 {
    font-family: '국립박물관문화재단클래식L';
    text-transform: capitalize;
    position: absolute;
    bottom: 100%;
    left: 30px;
    transform: translateY(-30px);
}
.container a {
    position: absolute;
    top: 115%;
    right: 20px;
    transform: translateY(-40px);
    border: 1px solid #fff;
    width: 100px;
    padding: 1px;
    text-align: center;
    border-radius: 20px;
    transition: .5s;
    text-transform: uppercase;
}
.container a:hover {
    background: #888;
    color: #333;
    opacity: .8;
}
.container .inner {
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
    margin: 10px;
    padding: 1rem;
}
.container .inner .innerBox {
    transition: 1s;
    cursor: pointer;
}
.container .inner .innerBox:hover {
    transform: scale(1.2);
}
.container .inner .innerBox p {
    margin-left: 10px;
}
.container .inner .innerBox span {
    
}
.container .inner .innerBox span:nth-child(1) {
    display: inline-block;
    width: 150px;
}
.container .inner .innerBox .skillBar {
    width: 95%;
    height: 30px;
    /* border: 1px solid #000; */
    margin-top: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.container .inner .innerBox .skillBar .skillBar-1 {
    width: 80%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 20px;
    background: linear-gradient(to right, #50586C, #DCE2F0);
}
.container .inner .innerBox:nth-of-type(1) .skillBar .skillBar-1 {
    width: 90%;
    animation: ability 1.5s linear;
}
.container .inner .innerBox:nth-of-type(2) .skillBar .skillBar-1 {
    width: 90%;
    animation: ability 1.5s linear;
}
.container .inner .innerBox:nth-of-type(3) .skillBar .skillBar-1 {
    width: 80%;
    animation: ability 1.5s linear;
}
.container .inner .innerBox:nth-of-type(4) .skillBar .skillBar-1 {
    width: 90%;
    animation: ability 1.5s linear;
}
.container .inner .innerBox:nth-of-type(5) .skillBar .skillBar-1 {
    width: 80%;
    animation: ability 1.5s linear;
}
.container .inner .innerBox:nth-of-type(6) .skillBar .skillBar-1 {
    width: 100%;
    animation: ability 1.5s linear;
}

@keyframes ability {
    0% {
        width: 0;
    }
    50% {
        width: 50%;
    }
    100 {
        width: 100%;
    }
}