@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    display: inline-block;
    list-style: none;
}
a {
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}
